<div class="center">
    <button class="center" mat-icon-button (click)="openModal('saveHost')"> Clique aqui parar criar um novo host
        <mat-icon>
            save
        </mat-icon>
    </button>
</div>
<mat-card class="card mat-elevation-z5" *ngFor="let host of hosts">
    <mat-card-header>
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
        <mat-card-title>
            Nome : {{ host.name}} {{ host.lastName }}
        </mat-card-title>
        <mat-card-title>
            Email: {{host.email}}
        </mat-card-title>
        <mat-card-title>
            Telefone: {{host.phone}}
        </mat-card-title>
        <mat-card-title>
            <p>Quartos</p>
           {{host.rooms.title}}
           {{host.rooms.description}}
           {{host.rooms.city}}
           {{host.rooms.price}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-actions>        
        <button mat-icon-button (click)="openModal('update')">
            <mat-icon>
                update
            </mat-icon>
        </button>
        <button mat-icon-button (click)="openModal('delete')">
            <mat-icon>
                delete
            </mat-icon>
        </button>
        <button mat-icon-button (click)="openModal('updateRoom')">
            <mat-icon>
                gite
            </mat-icon>
        </button>
    </mat-card-actions>
</mat-card>

<jw-modal id="saveHost">
    <h1>Insira os dados para cadastro</h1>
    <form class="form">
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <p>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <textarea matInput placeholder="exemplo@exemplo.com.br"></textarea>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Senha</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </p>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="55(14)991518232">
        </mat-form-field>
        <button (click)="closeModal('saveHost');" mat-stroked-button color="primary">Salvar</button>
        <button (click)="closeModal('saveHost');" mat-stroked-button color="accent">Cancelar</button>
    </form>


</jw-modal>

<jw-modal id="delete">
    <h1>Tem certeza que deseja excluir?</h1>
    <button (click)="closeModal('delete');" mat-stroked-button color="primary">Salvar</button>
    <button (click)="closeModal('delete');" mat-stroked-button color="accent">Cancelar</button>
</jw-modal>

<jw-modal id="update">
    <h1>Insira os dados para atualizar</h1>
    <form class="form">
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <p>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <textarea matInput placeholder="exemplo@exemplo.com.br"></textarea>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Senha</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </p>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="55(14)991518232">
        </mat-form-field>
        <button (click)="closeModal('saveHost');" mat-stroked-button color="primary">Salvar</button>
        <button (click)="closeModal('saveHost');" mat-stroked-button color="accent">Cancelar</button>
    </form>
</jw-modal>

<jw-modal id="updateRoom">
    <h1>A Custom Modal!</h1>
    <p>Home page text: <input type="text"></p>
    <button (click)="closeModal('updateRoom');">Close</button>
</jw-modal>