
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: #03a5a5;
}

.title-anfitriao, .title-user{
  text-align: center;
  color: #7751b5;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 16px;
}


.w-100 {
  width: 100%;
}
