<div class="center">
    <button class="center" mat-icon-button (click)="openModal('saveHost')"> Clique aqui parar criar um novo host
        <mat-icon>
            save
        </mat-icon>
    </button>
</div>
<mat-card class="card mat-elevation-z5" *ngFor="let host of hosts">

    <mat-card-header>
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
        <mat-card-title>
            Nome : {{ host.name}} {{ host.lastName }}
        </mat-card-title>
        <mat-card-title>
            Email: {{host.email}}
        </mat-card-title>
        <mat-card-title>
            Telefone: {{host.phone}}
        </mat-card-title>
        <mat-card-title>
            <p>Quartos</p>
            <ul *ngFor="let room of host.rooms">
                {{room.title}}
                <h3><li>{{room.description}}</li>
                <li>{{room.city}}</li>
                <li>{{room.price | currency}}</li>
            </h3></ul>
        </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <a [routerLink]="['/hosts', host.id]">
            <button mat-icon-button (click)="openModal('updateHost')"> Clique para mais detalhes
                <mat-icon>
                    manage_accounts
                </mat-icon>
            </button>
        </a>
    </mat-card-actions>

</mat-card>

<jw-modal id="saveHost">
    <h1>Insira os dados para cadastro</h1>
    <form class="form" [formGroup]="hostForm" (ngSubmit)="onSave(host)">
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput formControlName="lastName">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <p>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <textarea matInput placeholder="exemplo@exemplo.com.br" formControlName="email"></textarea>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Senha</mat-label>
                <textarea matInput formControlName="password"></textarea>
            </mat-form-field>
        </p>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="55(14)991518232" formControlName="phone">
        </mat-form-field>
        <button type="submit" (click)="closeModal('saveHost');" mat-stroked-button color="primary">Salvar</button>
        <button (click)="closeModal('saveHost');" mat-stroked-button color="accent">Cancelar</button>
    </form>


</jw-modal>

<jw-modal id="delete">
    <h1>Tem certeza que deseja excluir?</h1>
    <h2>{{deleteId}}</h2>
    <button (click)="onDelete(host)" mat-stroked-button color="primary">Excluir</button>
    <button (click)="closeModal('delete');" mat-stroked-button color="accent">Cancelar</button>
</jw-modal>
<jw-modal id="deleteOk">
    <h1>Excluído com sucesso</h1>
    <button (click)="closeModal('deleteOk');" mat-stroked-button color="accent">Ok</button>
</jw-modal>

<jw-modal id="updateHost">
    <h1>Insira os dados para atualizar</h1>
    <form class="form" [formGroup]="hostForm" (ngSubmit)="onSave(host)">
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput formControlName="lastName">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <p>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <textarea matInput placeholder="exemplo@exemplo.com.br" formControlName="email"></textarea>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Senha</mat-label>
                <textarea matInput formControlName="password"></textarea>
            </mat-form-field>
        </p>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="55(14)991518232" formControlName="phone">
        </mat-form-field>
        <button type="submit" (click)="closeModal('updateHost');" mat-stroked-button color="primary">Salvar</button>
        <button (click)="closeModal('updateHost');" mat-stroked-button color="accent">Cancelar</button>
    </form>
</jw-modal>

<jw-modal id="updateRoom">
    <h1>A Custom Modal!</h1>
    <p>Home page text: <input type="text"></p>
    <button (click)="closeModal('updateRoom');">Close</button>
</jw-modal>