.card {
  max-width: 35%;
  max-height: 100%;
  margin: auto;
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-card-actions {
  font-size: 1.3em;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: #03a5a5;
}

.title-anfitriao, .title-user{
  text-align: center;
  color: #7751b5;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 16px;
}



.w-100 {
  width: 100%;
}
