<div class="container">
  <div class="row">
    <div *ngIf="host">
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/img/yuna.jpg">
            <p class="card-title">{{ host.name}} {{ host.lastName }}</p>
          </div>
          <div class="card-content">
            <p>Email: {{host.email}}</p>
            <p>Telefone: {{host.phone}}</p>
            <ul *ngFor="let room of host.rooms">
              <p>Quarto: {{room.title}}</p>
              <li><strong>Descrição:</strong>{{room.description}}</li>
              <li><strong>Cidade: </strong>{{room.city}}</li>
              <li><strong>Preço: </strong>{{room.price | currency}}</li>
            </ul>
          </div>
          <div class="card-action">
            <button mat-icon-button (click)="openModal('updateHost')" title="Atualizar">
              <mat-icon>
                update
              </mat-icon>
            </button>
            <button mat-icon-button (click)="openModal('delete')" title="Excluir">
              <mat-icon>
                delete
              </mat-icon>
            </button>
            <button mat-icon-button (click)="openModal('createRoom')" title="Criar um quarto">
              <mat-icon>
                gite
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<jw-modal id="delete">
  <div class="container">
    <p class="title-user">Tem certeza que deseja excluir?</p>
    <div class="row">
      <div class="row">
        <div class="col s12">
          <button class="w-100" (click)="onDelete(host)" mat-stroked-button color="primary">Excluir</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="w-100" (click)="closeModal('delete')" mat-stroked-button color="accent">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</jw-modal>

<jw-modal id="deleteOk">
  <div class="container">
    <p class="title-user">Excluído com sucesso</p>
    <div class="row">
      <div class="col s12">
        <button class="w-100" (click)="closeModal('deleteOk')" mat-stroked-button color="accent">Ok</button>
      </div>
    </div>
  </div>
</jw-modal>



<jw-modal id="updateHost">
  <div class="container">
    <p class="title-anfitriao">Atualizar dados do anfitrião</p>
    <div class="row">
      <form class="form" [formGroup]="hostForm" (ngSubmit)="onUpdate()">
        <div class="input-field col s6">
          <input formControlName="name" placeholder="Nome" type="text" class="validate">
          <label for="name">Nome</label>
        </div>
        <div class="input-field col s6">
          <input formControlName="lastName" placeholder="Sobrenome" type="text" class="validate">
          <label for="lastName">Sobrenome</label>
        </div>
        <div class="input-field col s12">
          <input formControlName="email" placeholder="Digite o email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <input formControlName="password" placeholder="*******" type="password" class="validate">
          <label for="password">Senha</label>
        </div>
        <div class="input-field col s12">
          <input formControlName="phone" placeholder="(xx) xxxxx-xxxx" type="text" class="validate">
          <label for="phone">Telefone</label>
        </div>
        <div class="row">
          <div class="col s12">
            <button class="w-100" type="submit" (click)="closeModal('updateHost');" mat-stroked-button color="primary">Salvar</button>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button class="w-100" (click)="closeModal('updateHost');" mat-stroked-button color="accent">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</jw-modal>

<jw-modal id="updateRoom">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <button class="w-100" (click)="closeModal('updateRoom')" mat-stroked-button color="accent">Close</button>
      </div>
    </div>
  </div>
</jw-modal>



<jw-modal id="createRoom">
  <div class="container">
    <p class="title-anfitriao">Insira os dados para o cadastro</p>
    <div class="row">
      <form class="form" [formGroup]="roomForm" (ngSubmit)="createRoom()">
        <div class="input-field col s6">
          <input formControlName="title" placeholder="Título do post" type="text" class="validate">
          <label for="title">Título</label>
        </div>
        <div class="input-field col s6">
          <input formControlName="description" placeholder="Descrição do local" type="text" class="validate">
          <label for="description">Descrição</label>
        </div>
        <div class="input-field col s12">
          <input formControlName="city" placeholder="Cidade" type="text" class="validate">
          <label for="city">Cidade</label>
        </div>
        <div class="input-field col s12">
          <input formControlName="price" placeholder="R$ ..." type="text" class="validate">
          <label for="price">Preço</label>
        </div>
        <div class="row">
          <div class="col s12">
            <button class="w-100" type="submit" (click)="closeModal('createRoom')" mat-stroked-button color="primary">Salvar</button>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button id="cancel-button" class="w-100" (click)="closeModal('createRoom')" mat-stroked-button color="accent">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</jw-modal>
