.error {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error h3 img {
  margin-top: 50px;
  max-width: 100%;
}

.bgcard {
  opacity: 0.3;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 0px;
  padding: 10px;
  align-items: stretch;
  margin: auto;
}

.contato {
  margin-left: 1px;
}

.contato a {
  margin-left: 10px;
  margin-right: 1px;
}

.desc-size {
  height: 130px;
  max-width: 450px;
}

.img-card {
  max-width: 500px;
  max-height: 400px;
}

