<div *ngIf="error" class="error">
  <h3><img src="../../assets/img/404error.jpg" alt="404 error" /></h3>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let room of rooms">
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/img/casadepraia.jpg">
            <span class="card-title">{{ room.title }}</span>
          </div>
          <div class="card-content">
            <span>Hosted by {{ room.host.name }} {{ room.host.lastName }}</span>
            <hr style="border-color: #c3c3c321">
            <p style="height: 150px;">{{ room.description }}</p>
            <br>
            <p style="width: 300px; margin-top: 10px;">This place stays in  {{ room.city }}</p>
            <p style="margin-top: 15px;">{{ room.price | currency }} / night</p>
          </div>
          <div class="card-action">
            <a [routerLink]="['/reserves', room.id]" class="btn">Make a reserve</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
