mat-form-field {
  margin: 20px;
}

.card {
  max-width: 26.3%;
  margin: auto;
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
mat-card-title {
  font-size: 1.6em;
}
mat-card-content {
  font-size: 1.3em;
}
a {
  text-decoration: none;
  vertical-align: middle;
  color: black;
}
mat-card-actions {
  font-size: 1.3em;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contato a {
  margin-left: 10px;
  margin-right: 1px;
}

.grid-form {
  display: grid !important;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;  
  grid-gap: 10px;
  padding: 10px;
}

.row{
  display: grid;
  grid-template-rows: auto;
}

.col{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-right: 250px;
}

button{
  vertical-align: center;
  width: 100px;
  height: 40%;
  margin-top: 25px;
  margin-left: 85px;
}

.contato{
  margin-left: 1px;
}

.contato a{
  margin-left: 10px;
  margin-right: 1px;
}
.desc-size {
  height: 130px;
  max-width: 450px;
}

.img-card {
  max-width: 500px;
  max-height: 400px;
}
