<div class="container" *ngIf="room">
  <div class="row">
    <h3 class="header">{{ room.title }}</h3>
  </div>
  <div class="row">
    <div class="col s6">
      <img class="w-100" src="../../assets/img/casadepraia.jpg">
      <p>Hosted by {{ room.host.name }} {{ room.host.lastName }}</p>
    </div>
    <div class="col s6">
      <div class="row w-50 h-50">
        <div class="col s12">
          <img class="w-100" src="../../assets/img/casadepraia.jpg">
        </div>
      </div>
      <div class="row w-50 h-50">
        <div class="col s12">
          <img class="w-100" src="../../assets/img/casadepraia.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <form [formGroup]="reserveForm" (ngSubmit)="onSave(reserve)">
        <div class="row">
          <div class="col s6 ">
            <p>{{ room.description }}</p>
            <p>This place stays in {{ room.city }}</p>
            <p style="margin-top: 15px;">{{ room.price | currency }} / night</p>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <mat-form-field appearance="fill">
              <mat-label>Check In</mat-label>
              <input matInput [matDatepicker]="checkIn" formControlName="checkInDate">
              <mat-datepicker-toggle matSuffix [for]="checkIn"></mat-datepicker-toggle>
              <mat-datepicker #checkIn></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col s3">
            <mat-form-field appearance="fill">
              <mat-label>Check Out</mat-label>
              <input matInput [matDatepicker]="checkOut" formControlName="checkOutDate">
              <mat-datepicker-toggle matSuffix [for]="checkOut"></mat-datepicker-toggle>
              <mat-datepicker #checkOut></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <mat-form-field appearance="fill" style="background: transparent;">
              <mat-label>Your name is</mat-label>
              <mat-select formControlName="selectedGuest">
                <mat-option *ngFor="let guest of guests" [value]="guest">{{guest.name}} {{guest.lastName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col s6">
            <button type="submit" mat-raised-button style="padding: 10px;">Reserve</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row border">
    <p>Do you have any doubts? Contact {{ room.host.name }} by
      <a href="https://wa.me/{{ room.host.phone }}" target="_blank"><span class="material-icons"
          style="color: rgb(10, 189, 10); vertical-align: middle;">whatsapp</span>whatsapp</a> or
      <a href="mailto:{{ room.host.email }}" target="_blank"><span class="material-icons"
          style="color: black; vertical-align: middle;">email</span>email</a>
      </p>
  </div>
</div>



