/*mat-form-field {
    margin: 20px
  }

  .card {
    max-width: 35%;
    margin: auto;
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  mat-card-title {
    font-size: 1.6em;
  }
  mat-card-content {
    font-size: 1.3em;
  }
  a {
    text-decoration: none;
    vertical-align: middle;
    color: black;
  }
  mat-card-actions {
    font-size: 1.3em;
  }
  .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contato a{
    margin-left: 10px;
    margin-right: 1px;
  }*/

  .w-100 {
    width: 100% !important;
  }

  .w-50 {
    width: 50% !important;
  }

  .h-50 {
    height: 50% !important;
  }

  .border {
    text-align: center;
    border: 1px solid white;
    background-color: #7eafc8;
    color: white;
    border-radius: 6px;
  }

  .border a {
    color: white;
  }


