<div class="center">
    <mat-card class="card mat-elevation-z5" *ngIf="room">
        
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu" />
            <mat-card-header>
                <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
                <mat-card-title>{{ room.title }} (Hospedado por {{ room.host.name }}
                    {{ room.host.lastName }})
                </mat-card-title>
                <mat-card-subtitle>{{ room.city }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{ room.description }}</p>
                <p>{{ room.price | currency }} / noite</p>
            </mat-card-content>       
        <mat-card-actions>
            Contatos:
            <a href="https://wa.me/{{ room.host.phone }}" target="_blank"><span class="material-icons"
                    style="color: rgb(10, 189, 10)">whatsapp</span></a>
            <a href="mailto:{{ room.host.email }}" target="_blank"><span class="material-icons"
                    style="color: red">email</span></a>
        </mat-card-actions>
    </mat-card>

    <form [formGroup]="reserveForm" (ngSubmit)="onSave(reserve)">
        <mat-form-field appearance="fill">
            <mat-label>Check In</mat-label>
            <input matInput [matDatepicker]="checkIn" formControlName="checkInDate">
            <mat-datepicker-toggle matSuffix [for]="checkIn"></mat-datepicker-toggle>
            <mat-datepicker #checkIn></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Check Out</mat-label>
            <input matInput [matDatepicker]="checkOut" formControlName="checkOutDate">
            <mat-datepicker-toggle matSuffix [for]="checkOut"></mat-datepicker-toggle>
            <mat-datepicker #checkOut></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Selecione um usuário</mat-label>
            <mat-select formControlName="selectedGuest">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let guest of guests" [value]="guest">{{guest.name}} {{guest.lastName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button type="submit" mat-stroked-button color="primary">Salvar</button>
    </form>
</div>