<div class="display">
  <div><a routerLink=""><img src="../../../assets/img/logo.jpg" alt="logo"></a> </div>
  <div>
    <mat-toolbar>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <input class="form-control" type="text" name="search" autocomplete="off" placeholder="Para onde você vai?"
          formControlName="city" />
        <button type="submit" class="button">
          <i class="material-icons matSuffix" style="color:rgb(175, 21, 93); font-size:37px">search</i>
        </button>
      </form>
    </mat-toolbar>
  </div>
  <div >
    <a class = "header-link" routerLink="/hosts">Anfitrião<span class="material-icons header-link" style="color:white; font-size:50px">gite</span></a>
    <a class = "header-link" routerLink="/guests">Usuário<span class="material-icons header-link " style="color:white; font-size:50px">account_circle</span></a>
  </div>
</div>