<div class="container">
  <div class="row">
    <div *ngIf="guest">
      <div class="col s4">
        <div class="card">
          <ul class="card-image">
            <img src="../../../assets/img/yuna.jpg">
            <p class="card-title" ><strong>{{ guest.name}} {{ guest.lastName }}</strong></p>
          </ul>
          <div class="card-content">
            <p>Email: {{guest.email}}</p>
            <p>Telefone:{{guest.phone}}</p>
            <ul *ngFor="let reserve of reserves">
              <p>Reservas: {{reserve.room.title}}</p>
              <li><strong>Check In:</strong> {{reserve.checkIn}}</li>
              <li><strong>Check out:</strong> {{reserve.checkOut}}</li>
              <li><strong>Preço:</strong> {{reserve.room.price | currency}} /dia</li>
            </ul>
          </div>
          <div class="card-action">
            <button mat-icon-button (click)="openModal('updateGuest')" title="Atualizar">
              <mat-icon>
                update
              </mat-icon>
            </button>
            <button mat-icon-button (click)="openModal('deleteGuest')" title="Excluir usuário">
              <mat-icon>
                delete
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<jw-modal id="deleteGuest">
  <div class="container">
    <p class="title-user">Tem certeza que deseja excluir?</p>
    <div class="row">
      <div class="row">
        <div class="col s12">
          <button class="w-100" (click)="onDelete(guest)" mat-stroked-button color="primary">Excluir</button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="w-100" (click)="closeModal('deleteGuest')" mat-stroked-button color="accent">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</jw-modal>

<jw-modal id="deleteOk">
  <div class="container">
    <p class="title-user">Excluído com sucesso</p>
    <div class="row">
      <div class="col s12">
        <button class="w-100" (click)="closeModal('deleteOk')" mat-stroked-button color="accent">Ok</button>
      </div>
    </div>
  </div>
</jw-modal>


<jw-modal id="updateGuest">
  <div class="container">
    <p class="title-anfitriao">Insira os dados para atualizar</p>
    <div class="row">
      <form class="form" [formGroup]="guestForm" (ngSubmit)="onUpdate()">
        <div class="input-field col s6">
          <input formControlName="name"  type="text" class="validate">
          <label for="name">Nome</label>
        </div>
        <div class="input-field col s6">
          <input formControlName="lastName"  type="text" class="validate">
          <label for="lastName">Sobrenome</label>
        </div>
        <div class="input-field col s12">
          <input formControlName="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <input formControlName="password" type="password" class="validate">
          <label for="password">Senha</label>
        </div>
        <div class="input-field col s12">
          <input formControlName="phone"  type="text" class="validate">
          <label for="phone">Telefone</label>
        </div>
        <div class="row">
          <div class="col s12">
            <button class="w-100" type="submit" (click)="closeModal('updateGuest');" mat-stroked-button color="primary">Salvar</button>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button id="cancel-button" class="w-100" (click)="closeModal('updateGuest');" mat-stroked-button color="accent">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</jw-modal>

