<mat-card class="card mat-elevation-z5" *ngIf="guest">

    <mat-card-header>
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
        <mat-card-title>
            Nome : {{ guest.name}} {{ guest.lastName }}
        </mat-card-title>
        <mat-card-title>
            Email: {{guest.email}}
        </mat-card-title>
        <mat-card-title>
            Telefone: {{guest.phone}}
        </mat-card-title>
        <mat-card-title>
            <p>Reservas:</p>
        </mat-card-title>
        <mat-card-title *ngFor="let reserve of reserves">
            <ul>
                Local: {{reserve.room.title}}
                <h3>
                    <li>Check In: {{reserve.checkIn}}</li>
                    <li>Check out: {{reserve.checkOut}}</li>
                    <li>Preço: {{reserve.room.price | currency}} /dia</li>
                </h3>
            </ul>
        </mat-card-title>
    </mat-card-header>

    <mat-card-actions>
        <button mat-icon-button (click)="openModal('updateGuest')">
            <mat-icon>
                update
            </mat-icon>
        </button>
        <button mat-icon-button (click)="openModal('deleteGuest')">
            <mat-icon>
                delete
            </mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
<jw-modal id="deleteGuest">
    <h1>Tem certeza que deseja excluir?</h1>
    <button (click)="onDelete(guest)" mat-stroked-button color="primary">Excluir</button>
    <button (click)="closeModal('deleteGuest');" mat-stroked-button color="accent">Cancelar</button>
</jw-modal>
<jw-modal id="deleteOk">
    <h1>Excluído com sucesso</h1>
    <button (click)="closeModal('deleteOk');" mat-stroked-button color="accent">Ok</button>
</jw-modal>

<jw-modal id="updateGuest">
    <h1>Insira os dados para atualizar</h1>
    <form class="form" [formGroup]="guestForm" (ngSubmit)="onUpdate()">
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput formControlName="lastName">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <p>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <textarea matInput placeholder="exemplo@exemplo.com.br" formControlName="email"></textarea>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Senha</mat-label>
                <textarea matInput formControlName="password"></textarea>
            </mat-form-field>
        </p>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="55(14)991518232" formControlName="phone">
        </mat-form-field>
        <button type="submit" (click)="closeModal('updateGuest');" mat-stroked-button color="primary">Salvar</button>
    </form>
    <button id="cancel-button" (click)="closeModal('updateGuest');" mat-stroked-button color="accent">Cancelar</button>
</jw-modal>