mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-card-actions {
  font-size: 1.3em;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-anfitriao, .title-user{
  text-align: center;
  color: #7751b5;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 16px;
}

.w-100 {
  width: 100%;
}

.desc {
  padding: 24px;
}
