<div class="center">
    <button class="center" mat-icon-button (click)="openModal('saveGuest')"> Clique aqui parar criar um novo usuário
        <mat-icon>
            save
        </mat-icon>
    </button>
</div>
<mat-card class="card mat-elevation-z5" *ngFor="let guest of guests" [attr.guestId]="guest.id">
    <mat-card-header>
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
        <mat-card-title>
            Nome : {{ guest.name}} {{ guest.lastName }}
        </mat-card-title>
        <mat-card-title>
            Email: {{guest.email}}
        </mat-card-title>
        <mat-card-title>
            Telefone: {{guest.phone}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <a [routerLink]="['/guests', guest.id]">
            <mat-icon>
                manage_accounts
            </mat-icon>
            <button mat-icon-button (click)="openModal('updateHost')"> Clique para mais detalhes
            </button>
        </a>
    </mat-card-actions>
</mat-card>

<jw-modal id="saveGuest">
    <h1>Insira os dados para cadastro</h1>
    <form class="form" [formGroup]="guestForm" (ngSubmit)="onSave(guest)">
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Sobrenome</mat-label>
                        <input matInput formControlName="lastName">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <p>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <textarea matInput placeholder="exemplo@exemplo.com.br" formControlName="email"></textarea>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Senha</mat-label>
                <textarea matInput formControlName="password"></textarea>
            </mat-form-field>
        </p>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="55(14)991518232" formControlName="phone">
        </mat-form-field>
        <button type="submit" (click)="closeModal('saveGuest');" mat-stroked-button color="primary">Salvar</button>
        <button (click)="closeModal('saveGuest');" mat-stroked-button color="accent">Cancelar</button>
    </form>
</jw-modal>