<mat-card class="card mat-elevation-z5" *ngFor="let guest of guests">
    <mat-card-header>
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
        <mat-card-title>
            Nome : {{ guest.name}} {{ guest.lastName }}
        </mat-card-title>
        <mat-card-title>
            Email: {{guest.email}}
        </mat-card-title>
        <mat-card-title>
            Telefone: {{guest.phone}}
        </mat-card-title>
    </mat-card-header>
</mat-card>