<button mat-icon-button (click)="openModal('saveGuest')"> Crie um novo usuário
    <mat-icon>
        save
    </mat-icon>
</button>

<mat-card class="card mat-elevation-z5" *ngFor="let guest of guests">
    <mat-card-header>
        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
        <mat-card-title>
            Nome : {{ guest.name}} {{ guest.lastName }}
        </mat-card-title>
        <mat-card-title>
            Email: {{guest.email}}
        </mat-card-title>
        <mat-card-title>
            Telefone: {{guest.phone}}
        </mat-card-title>
        <mat-card-title>
            <p>Reservas</p>
            {{guest.reserve}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <button mat-icon-button (click)="openModal('delete')">
            <mat-icon>
                delete
            </mat-icon>
        </button>
        <button mat-icon-button (click)="openModal('update')">
            <mat-icon>
                update
            </mat-icon>
        </button>
        <button mat-icon-button (click)="openModal('custom-modal-1')">
            <mat-icon>
                gite
            </mat-icon>
        </button>
    </mat-card-actions>
</mat-card>

<jw-modal id="saveGuest">
    <h1>Insira os dados para cadastro</h1>
    <p>Nome: <input type="text"></p>
    <p>Sobrenome: <input type="text"></p>
    <p>Email: <input type="text"></p>
    <p>Senha: <input type="text"></p>
    <p>Telefone: <input type="text"></p>
    <button (click)="closeModal('saveGuest');">Salvar</button>
    <button (click)="closeModal('saveGuest');">Close</button>
</jw-modal>

<jw-modal id="delete">
    <h1>Tem certeza que deseja excluir?</h1>
    <button (click)="closeModal('delete');">Sim</button>
    <button (click)="closeModal('delete');">Close</button>
</jw-modal>

<jw-modal id="update">
    <h1>Insira os dados para cadastro</h1>
    <p>Nome: <input type="text"></p>
    <p>Sobrenome: <input type="text"></p>
    <p>Email: <input type="text"></p>
    <p>Senha: <input type="text"></p>
    <p>Telefone: <input type="text"></p>
    <button (click)="closeModal('update');">Salvar</button>
    <button (click)="closeModal('update');">Close</button>
</jw-modal>

<jw-modal id="custom-modal-1">
    <h1>A Custom Modal!</h1>
    <p>Home page text: <input type="text"></p>
    <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>